@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: normal;
  src: url('HelveticaNeueLTStd-Cn.woff') format('woff');
}

/*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}*/

html {
  font-family: Helvetica;
  background-color: #faca00;
}

#logo {
  padding-left: 30px;
  padding-top: 30px;
}

#flowers {
  padding: 0;
  margin: 0;
  width: 100%;
}

#name {
  font-size: 60px;
  text-align: center;
  color: white;
}

#profession {
  font-size: 40px;
  text-align: center;
  color: white;
}
nav ul {
  list-style-type: none;
  text-align: center;
  font-size: 25px;
  padding-top
  margin: 0;
}

nav li {
  display: inline;
  padding: 40px;
}

li a {
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
	color: white;
}

li a:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.shake {
  animation: shake 2s;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

#flowers:hover {
  animation: shake 2s;
}
